extends ../layout
block content
	table(class="table table-responsive")
		h1(class="post-title") Cadastrar postagem
		thead(class="thead-inverse")
			tr
				th ID
				th Título
				th Autor
				th 
				th 
		tbody
			tr
				th(scope="row") 1
				th Star Wars
				th Emanuel
				th Editar
				th Apagar